@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Wanted Sans Variable", "Wanted Sans", -apple-system, BlinkMacSystemFont, system-ui, "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  letter-spacing: 0.8px;
}

a {
	text-decoration: none;
	cursor : pointer;
}


/* 헤더 */
.header-container {
	top: 0;
    position: absolute;
	width: 100%;
	height: 110px;
	display: flex;
	align-items: center;
}

.logo-container {
	width : 10%;
	display: flex;
	justify-content: center;
	font-size : 30px;
}

.menu-container {
	width: 40%;
	display: flex;
    justify-content: flex-start;
	font-size: 20px;
}

.sign-container {
	position: absolute;
	right:0;
	width: 30%;
	display: flex;
	align-items: center;
	font-size: 20px;
	justify-content: flex-end;
}

.sign-container > span {
	margin : 0 10px;	
	color : #999999;
}

.menu-btn {
	color: #4D4D4D;
	margin : 0 50px;
}

.menu-btn:hover {
	color: #8B78FF;
}

.underline-btn {
	width : 150px;
	padding : 10px 30px;
	border-radius : 30px;
	color: #8B78FF;
	border: 1px solid #8B78FF;
	display : flex;
	justify-content: center;
	margin : 0 10px;
}

.underline-btn:hover, .mypage-modify-btn:hover {
	background-color: #f3f3f3;
}

.square-btn {
	width : 150px;
	padding : 10px 30px;
	border-radius : 30px;
	background-color : #8B78FF;
	color: white;
	border: 1px solid #8B78FF;
	display : flex;
	justify-content: center;
	margin : 0 10px;
}

.square-btn:hover , .mypage-withdraw-btn:hover {
	background-color: #7663EF;
}

/* 메인화면  */
/* 회사 소개 스타일 */
.main-content {
    margin-top: 110px; 
    padding: 30px;
    background-color: #FAFAFF; 
    display: flex; 
    align-items: center; 
}

    .main-content h1 {
        font-size: 50px;
        margin-bottom: 10px;
        color : #8B78FF;
    }
    .main-content p {
        font-size: 20px;
        line-height: 1.6;
        margin-bottom: 10px;
    }
    .main-content img {
        max-width: 100%;
        height: 400px;
        margin-left: auto; /* 이미지를 오른쪽으로 정렬 */
        margin-right: 20px; /* 오른쪽 여백 설정 */
    }
    .main-content .btn-container {
        margin-top: 20px;
    }
    .main-content .btn {
        display: inline-block;
        padding: 15px 30px;
        background-color:  #8B78FF;
        color: #fff;
        text-decoration: none;
        transition: background-color 0.3s ease;
        font-size: 20px;
    }
    .main-content .btn:hover {
        background-color: #7663EF;
    }
    
/* 리스트 페이지 */
.list-container {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 110px;
	width: 100%;
	flex-direction: column;
}

.list-inner-container {
	width: 70vw;
	padding: 100px 0 50px 0;
	height: auto;
}

.list-top-menu {
	display:flex;
	justify-content: space-between;
	align-items: center;
 	width : 100%;
 	height : 10%;
 	
}

.insert-container {
	border-radius: 30px;
	background-color: #8B78FF;
	padding : 15px 20px;
	font-size : 18px;
	width: 150px;
    display: flex;
    justify-content: center;
}

.insert-container:hover {
	background-color: #7663EF;
}

.insert-btn {
	color: white;
}

.select-searchbar-container {
	display: flex;
	width: 30%;
}


.select-container {
	margin-right: 10px;
}

select {
	border: 1px solid #AFAFAF;
	height: 100%;
	color: #4D4D4D;
}


.searchbar-container {
	width : 100%;
	border: 1px solid #AFAFAF;
}

.searchbar {
	width : 100%;
	display : flex;
	padding : 10px;
	justify-content: space-between;
}

.searchbar-input {
	font-size: 18px;
	width : 85%;
	border : none;
}

.searchbar-input:focus {
	outline:none;
}

.searchbar-a {
	font-size: 18px;
	color : black;
	cursor : pointer;
	display : flex;
	justify-content: flex-end;
	width : 15%;
	background-color: transparent;
    border: none;
}

.searchbar-a:hover {
	color : #8B78FF;
}

.list {
	width: 100%;
	height : 90%;
	/* background-color: red; */
}


.list-content, .list-top-content {
	display : flex;
	align-items: center;
	height : 80px;
	border-bottom : 1px solid #D7D7D7;
}

.list-content {
	font-size : 17px;
}

.list-top-content {
	font-size: 20px;
	border-bottom : 2px solid black;
}

.no-area {
	width : 10%;
	display : flex;
	justify-content: center;
}
 .writer-area, .date-area {
	width : 20%;
	display : flex;
	justify-content: center;
}

.title-area {
 	width: 40%;	
 	display : flex;
 	justify-content: center;
}

.admin-delete-btn {
	width : 10%;
	display : flex;
 	justify-content: center;	
 	
}

.admin-delete-btn > a {
	color : #8B78FF;
}

.title-a {
	color : black;
}

.title-a:hover {
	color : #8B78FF;
}

/* 상세보기 페이지 */
.detail-container {
	display : flex;
	justify-content: center;
    align-items: center;
    margin-top: 110px;
	width : 100%;
	height : calc(100vh - 110px);
}

.detail-inner-container {
	/* border : 1px solid black; */
	width : 70vw;
	height : 70vh;
}

.top-bno-container {
	display:flex;
	justify-content: space-between;
	align-items: center;
	width : 100%;
	height : 10%;
	border-bottom : 3px solid black;
}

.top-bno {
	padding : 10px 50px;
	font-size : 23px;
	background-color: #8B78FF;
	color : white;
	border-radius : 30px;
}

.view-count {
	color: #999999;
}

.detail {
	font-size : 20px;
	width : 100%;
	height : 90%;
}

.detail-title, .detail-writer, .detail-date {
	display : flex;
	align-items: center;
	height : 15%;
	border-bottom : 1px solid #D7D7D7;
}

.detail-content {
	padding : 3% 0 3% 0;
	border-bottom : 1px solid #D7D7D7;
	display : flex;
	height : 40%;
}

.title {
	display : flex;
	justify-content: center;
	width : 10%;	
}

.content {
	display : flex;
	width : 90%;	
	
}

.content-input {
	font-size : 20px;
	display : flex;
	width : 90%;	
	padding : 0 10px;
	resize : none;
}

.content-input:focus {
	outline: none;
}

.detail-btn-container {
	display : flex;
	justify-content: flex-end;
	align-items: center;
	height: 15%;
}

.modify-btn {
	justify-content: center;
	align-items: center;
	display : flex;
	width : 10%;
	height : 50%;
	border : 1px solid #8B78FF;
	color : #8B78FF;
}

.delete-btn {
	margin-left : 10px;
	justify-content: center;
	align-items: center;
	display : flex;
	width : 10%;
	height : 50%;
	border : 1px solid #8B78FF;
	color : #8B78FF;
}

.modify-btn:hover, .delete-btn:hover {
	transition : 0.5s;
	background-color : #8B78FF; 
	color : white;
}

/* insert */
.insertForm-container {
	display : flex;
	justify-content: center;
    align-items: center;
    margin-top: 110px;
	width : 100%;
	height : calc(100vh - 110px);
}

.insertForm-inner-container {
	padding : 0 30px;
	width : 30vw;
	height : 60vh;
}

.insertForm-top-container {
	color : 	#8B78FF; 
	font-size: 28px;
	display: flex;
	justify-content: center;
	height: 10%;
    align-items: center;
}

.insertForm-title-container {
	font-size : 20px;
	display : flex;
	align-items: flex-end;
	width : 100%;
	height : 20%;
	border-bottom : 2px solid #D7D7D7;
}

.insertForm-title {
	display : flex;
	align-items: center;
	width : 20%;
	height : 30%;
}

.insertForm-title-input {
	display : flex;
	align-items: center;
	font-size : 18px;
	width : 80%;
	height : 30%;
	border : none;
}

.insertForm-title-input:focus , .insertForm-content-input:focus {
	outline: none;
}

.insertForm-content-container {
	font-size : 20px;
	display : flex;
	width : 100%;
	height : 60%;
	flex-direction: column;
}

.insertForm-content {
	display : flex;
	align-items: flex-end;
	width : 100%;
	height : 20%;
}

.insertForm-content-area {
	display : flex;
	align-items: center;
	width : 20%;
	height: 50%;

}

.insertForm-content-input-container {
	height : 70%; 
	border : 2px solid #D7D7D7;
}

.insertForm-content-input {
	padding : 10px;
	font-size : 18px;
	width : 100%;
	border : none;
	resize: none;
}

.insertForm-btn-container {
	display : flex;
	align-items: center;
	width : 100%;
	height : 20%;
	justify-content: flex-end;
}

.insertForm-btn {
	font-size : 20px;
	justify-content: center;
	align-items: center;
	display : flex;
	width : 30%;
	height : 40%;
	color : white;
	background-color: #8B78FF; 
}

.insertForm-btn:hover {
	background-color: #7663EF;
}

/* 사용자 */ 
.login-container {
	display : flex;
	justify-content: center;
    align-items: center;
    margin-top: 110px;
	width : 100%;
	height : calc(100vh - 110px);
}

.login-inner-container {
	width : 70vw;
	height : 50vh;
	display:flex;
	flex-direction: column;
    align-items: center;
}

.login-top-container {
	width: 100%;
	height : 35%;
	font-size: 50px;
	color : #8B78FF;
	display : flex;
	justify-content: center;
	align-items: center;
}

.login-input-container {
	width : 40%;
	height : 35%;
	display : flex;
	flex-direction: column;
	justify-content: center;
}

.login-id , .login-password {
	height : 30%;
	margin : 10px 0;
	display :flex;
	justify-content: center;
}

.login-id-input , .login-password-input {
	font-size : 20px;
	width:100%;
	border : none;
	padding : 0 10px;
	background-color: #EEEEEE;
}

.login-id-input:focus , .login-password-input:focus {
	outline: none;
}

.login-autologin-container {
	display :flex;
    justify-content: flex-end;
}

.login-btn-container {
	width : 100%;
	height : 30%;
	display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-btn-div {
	height: 40%;
	width : 35%;
	background-color: #8B78FF;
	display : flex;
	justify-content: center;
	border-radius: 50px;
	cursor: pointer;
	box-shadow: 2px 4px 10px rgba(0, 0, 0, 25%);
	margin: 20px 0;
}

.login-btn {
	background-color: #8B78FF;
	border: none;
	font-size: 25px;
	color : white;
	cursor: pointer;
}

.login-signup-a {
	color : #8B78FF;
}

/* 회원가입 */ 
.member-insertForm-container {
	display : flex;
	justify-content: center;
    align-items: center;
    margin-top: 110px;
	width : 100%;
	height : calc(100vh - 110px);
}

.member-insertForm-inner-container {
	width : 70vw;
	height : 70vh;
	display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.member-top-container {
	height : 10%;
	font-size: 28px;
	color :#8B78FF;
}

.member-input-container {
	width : 50%;
	height : 80%;
	display:flex;
	flex-direction: column;
	justify-content: space-around;
}

.member-input-div {
	display: flex;
	align-items: center;
}

.member-label {
	width: 25%;
	font-size: 17px;
}

.member-input {
	width : 60%;
	margin-right: 10px;
}

.member-input > input {
	font-size : 18px;
	width : 100%;
	padding : 5px 10px;
	border : 1px solid #EEEEEE;	  
}

.member-input > input:focus {
	outline: none;
}

.member-duplicatedId {
 	width : 10%; 
 	cursor: pointer;
}
.member-duplicatedId > input {
	font-size : 17px;
	color: #8B78FF;
	padding : 10px 20px; 
	border : 1px solid #8B78FF;
	background-color: white;
	border-radius: 50px;
	cursor: pointer;
}

.member-duplicatedId> input:hover {
	background-color: #f3f3f3;
}  

.member-insertForm-btn-container {
	width : 30%;
	cursor: pointer;
	background-color: #8B78FF;
	display: flex;
    justify-content: center;
    border-radius : 50px;
	box-shadow: 2px 4px 10px rgba(0, 0, 0, 25%);
	margin : 10px 0;
}


.member-insertForm-btn {
	border : none;
	cursor: pointer;
	background-color: #8B78FF;
	color : white;
	font-size: 23px;
	padding : 15px 10px;
}

/* 마이페이지  */
.mypage-container {
	display : flex;
	justify-content: center;
    align-items: center;
    margin-top: 110px;
	width : 100%;
	height : calc(100vh - 110px);
}

.mypage-inner-container {
	width : 70vw;
	height : 70vh;
}

.mypage-top-container{
	width : 100%;
	height: 15%;
	border-bottom : 3px solid black;
    display: flex;
    align-items: center;
}

.mypage-userid {
	height : 70%;
	padding : 10px 100px;
	font-size : 35px;
	background-color: #8B78FF;
	color : white;
	border-radius:50px;
	display: flex;
	align-items: center;
}

.mypage-content-container {
	height : 75%;
	display : flex;
	flex-direction: column;
}

.mypage-content {
	display : flex;
	width : 100%;
	height : 20%;
	align-items: center;
}

.mypage-area {
	width : 50%;
	height : 100%;
	display : flex;	
	font-size : 20px;
	align-items: center;
}

.mypage-content-area > .mypage-input {
	border : none;
	width : 100%;
}

.mypage-title-area {
	padding : 0 5%;
	width : 30%;	
	height : 100%;
	display: flex;
    align-items: center;
}

.mypage-content-area {
	width : 70%;
	height : 50%;
	display: flex;
    align-items: center;
	background-color: #F0F0F0;
	border-radius : 50px;
	padding : 0 20px;
}


.input-radio , .input-checkbox {
	margin : 0 5px;
	font-size: 17px;
}

.mypage-btn-container {
	width : 100%;
	height : 10%;
	display : flex;
	justify-content: flex-end;
}

.mypage-btn-div {
	font-size : 20px;
	display: flex;
    align-items: center;
    justify-content: flex-end;
}

.mypage-modify-btn  {
	cursor : pointer;
	background-color:transparent;
	font-size : 20px;
	color : #8B78FF;
	width : 150px;
	height : 70%;
	border-radius: 50px;
	border : 1px solid #8B78FF;
	display: flex;
	align-items: center;
	justify-content: center;
}

.mypage-withdraw-btn {
	width : 150px;
	height : 70%;
	background-color: #8B78FF;
	border-radius: 50px;
	color : white;
	display: flex;
	align-items: center;
	margin-left : 10px;
	justify-content: center;
}

/*페이지네이션*/
/*.pagination {*/
/*	display: flex;*/
/*}*/

/*.page-item {*/
/*	margin: 0 10px;*/
/*	border: 1px solid #8B78FF;*/
/*	border-radius: 50px;*/
/*}*/

.pagination {
	display: inline-block;
	padding-left: 0;
	margin: 20px 0;
	border-radius: 4px;
}

.page-item {
	display: inline;
}

.page-link {
	position: relative;
	float: left;
	padding: 6px 12px;
	line-height: 1.42857143;
	text-decoration: none;
	color: #8B78FF;
	background-color: #fff;
	border: 1px solid #dee2e6;
	margin-left: -1px;
}

.page-link:hover {
	color: #7663EF;
	background-color: #e9ecef;
	border-color: #dee2e6;
}

.page-link:focus {
	z-index: 2;
	outline: 0;
	box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.25);
}

.page-link:not(:disabled) {
	cursor: pointer;
}

.page-item.disabled .page-link {
	color: #6c757d;
	pointer-events: none;
	cursor: not-allowed;
	background-color: #fff;
	border-color: #dee2e6;
}

.page-item.active .page-link {
	z-index: 1;
	color: #fff;
	background-color: #8B78FF;
	border-color: #8B78FF;
}

.page-link[data-num] {
	cursor: pointer;
}
